Package: perf
Version: 3.3.8-2
Depends: libc, libelf1, libdw, libpthread, librt, binutils
Provides: 
Source: qca/feeds/packages/devel/perf
Section: devel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 180742
Description:  perf is the Linux performance monitoring tool
