<%+header%>

<%
    local rsa_sw           = uci.get('ipsec','rsa','sw')
    local x509_sw          = uci.get('ipsec','x509','sw')
    local psk_sw           = uci.get('ipsec','psk','sw')
    local x509_pfs         = uci.get('ipsec','x509','pfs')
    local x509_passwd      = uci.get('ipsec','x509','passwd')
    local x509_src_ip      = uci.get('ipsec','x509','src_ip')
    local x509_des_ip      = uci.get('ipsec','x509','des_ip')
    local x509_src_cert    = uci.get('ipsec','x509','src_cert')
    local x509_des_cert    = uci.get('ipsec','x509','des_cert')
    local x509_src_mask    = uci.get('ipsec','x509','src_mask')
    local x509_des_mask    = uci.get('ipsec','x509','des_mask')
    local x509_des_subnet  = uci.get('ipsec','x509','des_subnet')
    local x509_src_subnet  = uci.get('ipsec','x509','src_subnet')
    local x509_src_nexthop = uci.get('ipsec','x509','src_nexthop')
    local x509_des_nexthop = uci.get('ipsec','x509','des_nexthop')
    local x509_ikelifetime = uci.get('ipsec','x509','ikelifetime')
    local x509_salifetime  = uci.get('ipsec','x509','salifetime')
    local x509_ike1        = uci.get('ipsec','x509','ike1')
    local x509_ike2        = uci.get('ipsec','x509','ike2')
    local x509_phase2      = uci.get('ipsec','x509','phase2')
    local x509_phasealg1   = uci.get('ipsec','x509','phase2alg1')
    local x509_phasealg2   = uci.get('ipsec','x509','phase2alg2')
    local x509_remote_id   = uci.get('ipsec','x509','remote_id')

    local h       = require "luci.http"
    local io      = require "nixio"
    local flag    = true
    local run     = true
    local fd      = nil
    local fd_ca   = nil
    local fd_crl  = nil
    local ca_cert = "/tmp/cacert.pem"
    local crl     = "/tmp/crl.pem" 

    h.setfilehandler(
        function(field, chunk, eof)
            if not field or not run then return end

            if not fd then
               if field.name == "ca_cert" then
                    fd = io.open(ca_cert, "w")
                elseif field.name == "local_cert" then
                    fd = io.open("/tmp/"..field.file,"w")
                    luci.sys.exec("uci set ipsec.x509.local_cert="..field.file)
                elseif field.name == "remote_cert" then
                    fd = io.open("/tmp/"..field.file,"w")
                    luci.sys.exec("uci set ipsec.x509.remote_cert="..field.file)
                elseif field.name == "private_key" then
                    fd = io.open("/tmp/"..field.file,"w")
                    luci.sys.exec("uci set ipsec.x509.private_key="..field.file)
                else
                    fd = io.open(crl,"w")
                end
                luci.sys.exec("uci commit")
            end

            fd:write(chunk)

            if eof and fd then
                fd:close()
                fd = nil
            end
        end
    )

    if h.formvalue("act") == "update" then
        return
    end
    
    fd_ca = io.open(ca_cert, "r")
    if fd_ca then
        luci.sys.exec("mv "..ca_cert.." /etc/ipsec.d/cacerts/") 
    end
    fd_crl = io.open(crl, "r")
    if fd_crl then
        luci.sys.exec("mv "..crl.." /etc/ipsec.d/crls/")
    end
          
%>
<script type="text/javascript">
function all_init()
{ 
    if('<%=rsa_sw%>' != 0 || '<%=psk_sw%>' != 0)
    {
        document.getElementById('id_button_x509').disabled = true;
        document.getElementById('id_button_x509').style.background = 'Gray';
    }

    document.getElementById('id_sw').options['<%=x509_sw%>'].selected                = true;
    document.getElementById('id_pfs').options['<%=x509_pfs%>'].selected              = true;
    document.getElementById('id_ike_1').options['<%=x509_ike1%>'].selected           = true;
    document.getElementById('id_ike_2').options['<%=x509_ike2%>'].selected           = true;
    document.getElementById('id_phase').options['<%=x509_phase2%>'].selected         = true;
    document.getElementById('id_phasealg_1').options['<%=x509_phasealg1%>'].selected = true;
    document.getElementById('id_phasealg_2').options['<%=x509_phasealg2%>'].selected = true;    

    document.getElementById('id_passwd').value      = '<%=x509_passwd%>'
    document.getElementById('id_src_ip').value      = '<%=x509_src_ip%>'
    document.getElementById('id_des_ip').value      = '<%=x509_des_ip%>'
    document.getElementById('id_src_mask').value    = '<%=x509_src_mask%>'
    document.getElementById('id_des_mask').value    = '<%=x509_des_mask%>'
    document.getElementById('id_des_subnet').value  = '<%=x509_des_subnet%>'
    document.getElementById('id_src_subnet').value  = '<%=x509_src_subnet%>'
    document.getElementById('id_salifetime').value  = '<%=x509_salifetime%>'
    document.getElementById('id_ikelifetime').value = '<%=x509_ikelifetime%>'
    document.getElementById('id_des_nexthop').value = '<%=x509_des_nexthop%>'
    document.getElementById('id_src_nexthop').value = '<%=x509_src_nexthop%>'
    document.getElementById('id_remoteID').value    = '<%=x509_remote_id%>'

    if( '0' != getauthority("currauth") && '1' != getauthority("currauth"))
    {
        document.getElementById("id_button_x509").disabled        = true;
        document.getElementById("id_button_ca").disabled          = true;
        document.getElementById("id_button_crl").disabled         = true;
        document.getElementById("id_button_remote_crl").disabled  = true;
        document.getElementById("id_button_local_cert").disabled  = true;
        document.getElementById("id_button_private_key").disabled = true;
    }
}   

function stxhr_get(datas) {
    var legend = document.getElementById('diag-rc-legend');
    var output = document.getElementById('diag-rc-output');

    if (legend && output)
    {
        output.innerHTML =
            '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
            '<font size="3" color="red"><%:Waiting for command to complete ...%></font>';
        legend.parentNode.style.display = 'block';
        legend.style.display = 'inline';
        
        stxhr.get(datas, null,
            function(x)
                {
                    if (x.responseText)
                    {
                        legend.style.display = 'none';
                        output.innerHTML = String.format('<pre><font size="3" color="blue" ><b>%h</b></font></pre>', x.responseText);
                    }
                    else
                    {
                        legend.style.display = 'none';
                        output.innerHTML = String.format('<pre><font size="5" color="red" style="font-weight:bold"><b>Error:<%:Configure failed !%></b></font></span>');
                    }
                }
        );
    }
}

function ajax_set(data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,data16,data17,data18,data19,data20,a_url,s_url) {
    $.ajax({
        url:a_url,
        dataType:'json',
        method:'post',
        data:{param1:data1,param2:data2,param3:data3,param4:data4,param5:data5,param6:data6,param7:data7,param8:data8,param9:data9,param10:data10,param11:data11,param12:data12,param13:data13,param14:data14,param15:data15,param16:data16,param17:data17,param18:data18,param19:data19,param20:data20},
        success:function(r){
            stxhr_get(s_url+ r.result);
            if(r.result == 'success'){
                alert("<%:Configuration Success ...%>");
                setInterval("window.location.reload()",1000);
            }
            else 
            {
                stxhr_get(s_url+ r.result);
                alert("<%:Configuration failed ...%>");
            }
        }
    });
}   

function x509_conf(select_sw,pfs_sw,ike1_sw,ike2_sw,phase_sw,phasealg1_sw,phasealg2_sw) {

    var passwd      = document.getElementById('id_passwd').value;
    var src_ip      = document.getElementById('id_src_ip').value;
    var src_mask    = document.getElementById('id_src_mask').value;
    var src_subnet  = document.getElementById('id_src_subnet').value;
    var des_ip      = document.getElementById('id_des_ip').value;
    var des_mask    = document.getElementById('id_des_mask').value;
    var des_subnet  = document.getElementById('id_des_subnet').value;
    var ikelifetime = document.getElementById('id_ikelifetime').value;
    var salifetime  = document.getElementById('id_salifetime').value;
    var src_nexthop = document.getElementById('id_src_nexthop').value;
    var des_nexthop = document.getElementById('id_des_nexthop').value;
    var remoteId    = document.getElementById('id_remoteID').value;

    if(remoteId == "" || remoteId == "null")
    {
        remoteId = "null";
    }

    if(ikelifetime > 25 || salifetime > 25 || ikelifetime < 1 || salifetime < 1)
    {
        alert('<%:Lifetime 1-24%>');
        return false;
    }

    if(src_mask < 8 || src_mask > 32 || des_mask < 8 || des_mask > 32)
    {
        alert('<%:Mask 8-32%>');
        return false;
    }

    if(!check_ipv4_addr(src_ip) || !check_ipv4_addr(des_ip) || !check_ipv4_addr(src_subnet) || !check_ipv4_addr(des_subnet) || !check_ipv4_addr(src_nexthop) || !check_ipv4_addr(des_nexthop) )
    {
        alert('<%:input ip address not legal%>');
        return false;
    }

     ajax_set(select_sw,pfs_sw,passwd,ikelifetime,src_ip,src_mask,src_subnet,salifetime,des_ip,des_mask,des_subnet,ike1_sw,ike2_sw,phase_sw,phasealg1_sw,phasealg2_sw,src_nexthop,des_nexthop,remoteId,0,'<%=pcdata(luci.dispatcher.build_url("admin/config/x509_auth"))%>','<%=luci.dispatcher.build_url("admin", "config")%>/set_infos/');
}

</script>

<h2><a id="content" name="content"><%:X509%></a></h2>

<fieldset class="cbi-section">
    <legend><%:Certificate&Secret Key Import%><br>

        <form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
            <div class="cbi-section-node">
                <label class="cbi-value-title" for="ca_cert"></label>
                <div class="cbi-value-field">
                    <input type="file" name="ca_cert" id="ca_cert" />
                    <input type="submit" id="id_button_ca" class="cbi-button cbi-input-apply" value="<%:CA cert Imports%>"/>
                </div>
            </div>
        </form>

        <form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
            <div class="cbi-section-node">
                <label class="cbi-value-title" for="local_cert"></label>
                <div class="cbi-value-field">
                    <input type="file" name="local_cert" id="local_cert" />
                    <input type="submit" id="id_button_local_cert" class="cbi-button cbi-input-apply" value="<%:Local Cert Imports%>"/>
                </div>
            </div>
        </form>

        <form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
            <div class="cbi-section-node">
                <label class="cbi-value-title" for="remote_cert"></label>
                <div class="cbi-value-field">
                    <input type="file" name="remote_cert" id="remote_cert" />
                    <input type="submit" id="id_button_remote_crl" class="cbi-button cbi-input-apply" value="<%:Remote Cert Imports%>"/>
                </div>
            </div>
        </form>

        <form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
            <div class="cbi-section-node">
                <label class="cbi-value-title" for="private_key"></label>
                <div class="cbi-value-field">
                    <input type="file" name="private_key" id="private_key" />
                    <input type="submit" id="id_button_private_key" class="cbi-button cbi-input-apply" value="<%:Private Key Imports%>"/>
                </div>
            </div>
        </form>
        
        <form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
            <div class="cbi-section-node">
                <label class="cbi-value-title" for="crl"></label>
                <div class="cbi-value-field">
                    <input type="file" name="crl" id="crl" />
                    <input type="submit" id="id_button_crl" class="cbi-button cbi-input-apply" value="<%:Crl Imports%>"/>
                </div>
            </div>
        </form>
</fieldset>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
    <fieldset class="cbi-section">
 <script type="text/javascript">
 var apply_xhr = new XHR(); 
       
	var get_vflag_progress = function() {
		
		apply_xhr.get('<%=luci.dispatcher.build_url("admin", "config", "ipsec_set", "status")%>', null,
			function(x) {
				var e = document.getElementById('ipsec_status');
				
				response_msg = x.responseText
				if( e ) 
				{
					if( response_msg.match(/^disconnect/))
					{
						e.innerHTML = '<%:DISCONNECT%>';
					}
					else
					{
						e.innerHTML = '<%:CONNECT%>';
					}
						
				}	
				window.setTimeout(get_vflag_progress, 1000);
			}
			
		);
	}
	window.setTimeout(get_vflag_progress, 1000);
</script>
        
        <legend><%:X509 Auth Config%></legend><br/></fieldset>

        <fieldset class="cbi-section">  
            <div class="div_class">
                <table class="table_class" >
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:IPsec status%>:</td>
                        <td class="td_class">
                        <span id="ipsec_status"></span></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:on/off%>:</td>
                        <td class="td_class">
                            <select  name="name_sw" id="id_sw" style="width:180px;">
                            <option value="0"><%:off%></option>
                            <option value="1"><%:on%></option>
                            </select></td></tr>
            <!--    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Authby%>:</td>
                        <td class="td_class">
                        <select  name="name_authby" id="id_authby" style="width:180px;">
                        <option value="0"><%:rassig%></option>
                        <option value="1"><%:secret%></option>
                        <option value="2"><%:rassig/secret%></option>   
                        </select></td></tr>         -->
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Pfs%>:</td>
                        <td class="td_class">
                        <select  name="name_pfs" id="id_pfs" style="width:180px;">
                            <option value="0"><%:Yes%></option>
                            <option value="1"><%:No%></option>
                        </select></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Ike%>:</td>
                        <td class="td_class">
                        <select  name="name_ike_1" id="id_ike_1" style="width:88px;">
    <!--                    <option value="0"><%:OFF%></option>                -->
                            <option value="0"><%:des-sha1%></option>
                            <option value="1"><%:des-md5%></option>
                            <option value="2"><%:3des-sha1%></option>
                            <option value="3"><%:3des-md5%></option>
                            <option value="4"><%:aes-sha1%></option>
                            <option value="5"><%:aes-md5%></option>
                            <option value="6"><%:aes128-sha1%></option>
                            <option value="7"><%:aes128-md5%></option>
                            <option value="8"><%:aes256-sha1%></option>
                            <option value="9"><%:aes256-md5%></option>
                        </select>
                        <select  name="name_ike_2" id="id_ike_2" style="width:88px;">
<!--                        <option value="0"><%:OFF%></option>                -->
                            <option value="0"><%:MODP-768%></option>
                            <option value="1"><%:MODP-1024%></option>
                            <option value="2"><%:MODP-2048%></option>
                        </select></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Ikelifetime%>:</td>
                        <td class="td_class">
                        <input id="id_ikelifetime" type="text" value="0" sytle="width:180px">&nbsp;&nbsp;<%:hour%>
                        </td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Salifetime%>:</td>
                        <td class="td_class">
                        <input id="id_salifetime" type="text" value="0" sytle="width:180px">&nbsp;&nbsp;<%:hour%></td></tr>

                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Phase2%>:</td>
                        <td class="td_class">
                        <select  name="name_phase" id="id_phase" style="width:180px;">
                            <option value="0"><%:ESP%></option>
                            <option value="1"><%:AH%></option>
                        </select></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Phase2alg%>:</td>
                        <td class="td_class">
                        <select  name="name_phasealg_1" id="id_phasealg_1" style="width:89px;">
<!--                    <option value="0"><%:OFF%></option>                  -->
                            <option value="0"><%:des-sha1%></option>
                            <option value="1"><%:des-md5%></option>
                            <option value="2"><%:3des-sha1%></option>
                            <option value="3"><%:3des-md5%></option>
                            <option value="4"><%:aes-sha1%></option>
                            <option value="5"><%:aes-md5%></option>
                            <option value="6"><%:aes128-sha1%></option>
                            <option value="7"><%:aes128-md5%></option>
                            <option value="8"><%:aes256-sha1%></option>
                            <option value="9"><%:aes256-md5%></option>
                        </select>
                        <select  name="name_phasealg_2" id="id_phasealg_2" style="width:85px;">
<!--                    <option value="0"><%:OFF%></option>                   -->
                            <option value="0"><%:MODP-768%></option>
                            <option value="1"><%:MODP-1024%></option>
                            <option value="2"><%:MODP-2048%></option>
                            <option value="3"><%:OFF%></option> 
                        </select></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Remote ID%>:</td>
                        <td class="td_class">
                        <input id="id_remoteID" type="text" value="0" sytle="width:180px;">&nbsp;&nbsp;
                        <font color=" gray">example :"@rightid"</font></td></tr>
                </table>
            </div>          
            </fieldset>

            <fieldset class="cbi-section"><legend><%:X509 basic setting%></legend></fieldset>

            <fieldset class="cbi-section">  
            <div class="div_class">
                <table class="table_class" >
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Source IP%>:</td>
                        <td class="td_class">
                        <input id="id_src_ip" type="text" value="0.0.0.0" sytle="width:180px;"></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Source subnet/Mask%>:</td>
                        <td class="td_class">
                        <input type="text" id="id_src_subnet" style="width:124px;"/>&nbsp;/&nbsp;
                        <input type="text" id="id_src_mask" style="width:18px;"/>&nbsp;
                        <font color=" gray">example :192.168.1.0/24</font></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Source nexthop%>:</td>
                        <td class="td_class">
                        <input id="id_src_nexthop" type="text" value="0.0.0.0" sytle="width:180px;"></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Destination IP%>:</td>
                        <td class="td_class">
                        <input id="id_des_ip" type="text" value="0.0.0.0" sytle="width:180px;"></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Destination subnet/Mask%>:</td>
                        <td class="td_class">
                        <input type="text" id="id_des_subnet" style="width:124px;"/>&nbsp;/&nbsp;
                        <input type="text" id="id_des_mask" style="width:18px;"/>&nbsp;
                        <font color=" gray">example :192.168.1.0/24</font></td></tr>
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Destination nexthop%>:</td>
                        <td class="td_class">
                        <input id="id_des_nexthop" type="text" value="0.0.0.0" sytle="width:180px;"></td></tr> 
                    <tr class="tr_class">
                        <td class="td_class" style="width:300px;text-indent:200px;"><%:Password%>:</td>
                        <td class="td_class">
                        <input id="id_passwd" type="text" value="0.0.0.0" sytle="width:180px;">&nbsp;&nbsp;&nbsp;
                        <input type="button" id="id_button_x509" class="cbi-button cbi-button-apply" value="<%:Setting%>" style="width:100px;" onclick="x509_conf(this.form.name_sw.selectedIndex,this.form.name_pfs.selectedIndex,this.form.name_ike_1.selectedIndex,this.form.name_ike_2.selectedIndex,this.form.name_phase.selectedIndex,this.form.name_phasealg_1.selectedIndex,this.form.name_phasealg_2.selectedIndex)"/></td></tr> 
                </table>
            </div>          
            </fieldset>

        <fieldset class="cbi-section" style="display:none">
                <legend id="diag-rc-legend"><font size="3" color="red"><%:In the configuration...%></font></legend>
                <span id="diag-rc-output">1</span>
        </fieldset>

        <script>all_init();</script>

</form>

<%+footer%>