

<%+header%>

<head>
		<title><%=luci.sys.hostname()%> - <%:Flashing...%></title>
			<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/cascade.css" />
			<script type="text/javascript" src="<%=resource%>/xhr.js"></script>

			<script type="text/javascript">//<![CDATA[
				var apply_xhr = new XHR();		
				
				function replace_escape(str) {
					var str_old;
					do {
						str_old = str
						str = str.replace(/[^\x08]\x08/g, "");
					} while(str != str_old);
					
					str = str.replace(/\n/g, "");
					return str;
				}
				var get_vflag_progress = function() {
					apply_xhr.get('<%=luci.dispatcher.build_url("admin", "lte", "lteupgrade", "vflagstatus")%>', null,
						function(x) {
							var response_msg = replace_escape(x.responseText);
							var e = document.getElementById('vflag-status');
							var i = document.getElementById('id_gif');

							if ( response_msg.indexOf("ERROR") == 0 )
							{
								i.style.visibility = "hidden";
								e.innerHTML = String.format('<font size="4" color="red" style="font-weight:bold;font-style:italic;"><b>%h</font>',response_msg);
								var do_reboot = confirm('<%:Upgrade failed, reboot now?%>');
										if (!do_reboot)
										{
											location.href='<%=luci.dispatcher.build_url("admin","lte","lteupgrade")%>';
										}
										else {
											location.href="<%=controller%>/admin/system/reboot?reboot=1"
										}
							}							
							else if ( response_msg.indexOf("SUCCESS") == 0 )
							{	
									
								if( e )
								{
									e.innerHTML = '<%:Upgrade success%>';
									window.setTimeout(function() {
										e.parentNode.style.display = 'none';
										//var do_reboot = confirm('<%:Upgrade success, reboot now?%>');
										//if (!do_reboot)
										//{
										//	location.href='<%=luci.dispatcher.build_url("admin","lte","lteupgrade")%>';
										//}
										//else {
											location.href="<%=controller%>/admin/system/reboot?reboot=1";
										//}
									}, 1000);
								}

							}
							else
							{	
								if( e && response_msg ) 
								{
									e.innerHTML = response_msg;
									e.innerHTML = String.format('<font size="4" style="font-weight:bold;font-style:italic;"><b>%h</font>',response_msg);
								}	
								window.setTimeout(get_vflag_progress, 1000);
							}
						}
					);
				}

				window.setTimeout(get_vflag_progress, 1000);
			//]]></script>
		</head>
		<body>
			<div id="maincontainer">
				<div id="maincontent">
					<div id="content_flashing">
						<h2><a id="content" name="content"><%:LTE%> - <%:Flashing...%></a></h2>
						<fieldset class="cbi-section">
							<p>
							<font size="4">	
								<%:The system is flashing now.%><br />
								<%:DO NOT POWER OFF THE DEVICE!%><br /> 
								<%:Wait ten minutes please...%></font>
							</p>
						</br>
							<p>
								<img id="id_gif" src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>"  style="vertical-align:middle" />
								<span id="vflag-status"><%:Waiting for changes to be applied...%></span>
							</p>
						</fieldset>	
					</div>				
				</div>			

				<div id="content_fail" style="display:none">
						<h2><a id="content" name="content"><%:LTE%> - <%:Upgrade failed%></a></h2>
						<fieldset class="cbi-section">
							<legend>
								<%: Error messages %>
							</legend>
							<div class="cbi-section-error">
								<p id="errormsg" >
								</p>
							</div>							
							<div class="cbi-page-actions right">
								<form style="display:inline" action="<%=REQUEST_URI%>" method="post">
									<input class="cbi-button cbi-button-reset" type="submit" value="<%:Back%>" />
								</form>
							</div>
						</fieldset>
				</div>					
			</div>
		</body>
		<fieldset class="cbi-section">
			<div class="cbi-section-descr"></div>
				<div class="cbi-value-field">	
					<legend>
						<font  size="5" color="red">
			 				<%:Note%><br>
			 				<%:Whether the upgrade was successful, you have to restart !!!%><br>
			 				<%:After the error occurred, please keep all error messages %><br> 				
			 			</font>
			 		</legend>
				</div>
		</fieldset>
<%+footer%>