<%+cbi/valueheader%>

<script type="text/javascript">//<![CDATA[

	function all_init()
			{
				if( '0' != getauthority("currauth") && '1' != getauthority("currauth"))
				{
					document.getElementById("browser_sync_submit_id").disabled=true;
				}
			}	
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "system", "clock_status")%>', null,
		function(x, rv)
		{
			var s = document.getElementById('<%=self.option%>-clock-status');
			if (s)
			{
				s.innerHTML = rv.timestring || '?';
			}
		}
	);

	function sync_clock(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Synchronizing...%>';

		XHR.get('<%=luci.dispatcher.build_url("admin", "system", "clock_status")%>',
			{ set: Math.floor((new Date()).getTime() / 1000) },
			function()
			{
				btn.disabled = false;
				btn.value    = '<%:Sync with browser%>';
			}
		);

		return false;
	}

//]]></script>

<span id="<%=self.option%>-clock-status"><em><%:Collecting data...%></em></span>
<input type="button" id="browser_sync_submit_id" class="cbi-button cbi-button-apply" value="<%:Sync with browser%>" onclick="return sync_clock(this)" />
<div class="cbi-section-node">

<script type="text/javascript">all_init();</script>		
</div>			
<%+cbi/valuefooter%>
